<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center mt-2">
                    <span class="titulo">LISTAR USUARIOS</span>
                    <button class="btn btn-success float-end"routerLink="/crear-usuario" >NUEVO</button>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Primer Nombre</th>
                            <th scope="col">Segundo Nombre</th>
                            <th scope="col">Primer Apellido</th>
                            <th scope="col">Segundo Apellido</th>
                            <th scope="col">Correo</th>
                            <th scope="col">edad</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>                            
                            <td>Victor</td>
                            <td>Alfonso</td>
                            <td>Delgado</td>
                            <td>Bola;os</td>
                            <td>Victor@Correo.com</td>
                            <td>30</td>
                            <td><i class="fas fa-edit text-primary"></i></td>
                            <td><i class="fas fa-trash text-danger"></i></td>
                          </tr>
                          <tr>
                            <td>Victor</td>
                            <td>Alfonso</td>
                            <td>Delgado</td>
                            <td>Bola;os</td>
                            <td>Victor@Correo.com</td>
                            <td>30</td>
                            <td><i class="fas fa-edit text-primary"></i></td>
                            <td><i class="fas fa-trash text-danger"></i></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
